body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.eat-healthy-content-wrapper {
    display: flex;
}

.left-pera {
    padding: 120px 20px;
}

.orange-color {
    color: orange;
}

.left-pera h2 {
    font-size: 50px;
    line-height: 40px;
    color: rgb(61, 61, 61);
}

.left-pera p {
    color: rgb(68, 67, 67);
    margin-bottom: 40px;
}

.right-img-wrapper img {
    width: 100%;
}

.order-food-btn-w a {
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    background-image: linear-gradient(to right, tomato, orange);
}

/*first blog end*/


.about-wrapper {
    background-image: url("images/shapes/7.png");
}

.about-content-wrapper {
    display: flex;
    padding-top: 50px;
}

.img-section {
    flex: 0 0 50%;
}

.img-section-w {
    text-align: center;
}

.img-section-w img {
    width: 250px;
}

.pera-section {
    flex: 0 0 50%;
}

.pera-section h1 {
    font-size: 40px;
    color: rgb(65, 65, 65);
}

.pera-section p {
    padding-right: 200px;
    margin-bottom: 50px;
    color: rgb(65, 63, 63);
}

.contact-btn-w a {
    text-decoration: none;
    color: white;
    padding: 15px 30px;
    border-radius: 50px;
    background-image: linear-gradient(to right, tomato, orange);
}

/*2nd blog end*/



.head-para {
    text-align: center;
}

.head-para h1 {
    font-size: 35px;
}

.head-para p {
    padding: 10px 300px;
}

.teo-recipie-wrapper {
    display: flex;
    margin: 0 80px;
    padding: 20px 0;
}

.first-recipie {
    padding: 30px;
    box-shadow: 2px 2px 5px 5px rgb(231, 230, 230);
    border: 2px solid rgb(226, 221, 221);
    border-radius: 25px;
    margin-right: 20px;
}

.first-recipie img {
    width: 100%;
}

.second-recipie {
    margin-right: 10px;
    padding: 30px;
    box-shadow: 2px 2px 5px 5px rgb(231, 230, 230);
    border: 2px solid rgb(226, 221, 221);
    border-radius: 25px;
}

.second-recipie img {
    width: 100%;
}

/*Recipie area end*/

.social-site-w {
    display: flex;
    margin: 100px;
    padding: 50px;
    text-align: center;
    box-shadow: 1px 1px 3px 3px rgb(238, 237, 237);
    border: 2px solid rgb(238, 236, 236);
    border-radius: 30px;
}

.youtube {
    flex: 0 0 33%;
}

.same-style h2 {
    font-size: 50px;
    line-height: 10px;
}

.instagram {
    flex: 0 0 33%;
}


.dribbble {
    flex: 0 0 33%;
}

/*Social area end*/